<section class="site-block site-block--alt">
  <div class="ds-l-container">
    <div class="site-block-header">
      <h2 class="site-block-header__heading">How does Data at the Point of Care reduce your burden and help you improve care?</h2>
    </div>
    <div class="ds-l-row ds-u-margin-top--5">
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("provider-calendar.svg", alt: "") %>
        </div>
        <h3>Reveals the medical history of your new patients</h3>
        <p>Avoid having to rely on paper, faxes, or the patient’s memory to know past diagnoses, procedures, and medications.</p>
      </div>
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("provider-conversation.svg", alt: "") %>
        </div>
        <h3>Lets you see how other providers are caring for your patients</h3>
        <p>Learn about any other provider visits, new diagnoses and medications, completed procedures and preventive items, and urgent care, hospital, or ER visits.</p>
      </div>
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("provider-medications.svg", alt: "") %>
        </div>
        <h3>Gives insight into your patients’ medication history & adherence</h3>
        <p>View medications that were filled at the pharmacy to learn about possible gaps in medication history and adherence.</p>
      </div>
    </div>
  </div>
</section>

<section class="site-block">
  <div class="ds-l-container">
    <div class="site-block-header">
      <h2 class="site-block-header__heading">How does Data at the Point of Care improve your patients’ experience and give them better care?</h2>
    </div>
    <div class="ds-l-row ds-u-margin-top--5">
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("patient-documents.svg", alt: "") %>
        </div>
        <h3>Reduces their frustration and documentation</h3>
        <p>Patients no longer need to recall and retell their entire past history at each visit.</p>
      </div>
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("patient-clock.svg", alt: "") %>
        </div>
        <h3>Gives them more time with you for current needs</h3>
        <p>Patients get more of your time to focus on their concerns and issues instead of you wasting time searching for information.</p>
      </div>
      <div class="ds-l-col--12 ds-l-md-col--4">
        <div class="ds-u-padding-x--5">
          <%= image_tag("patient-teamwork.svg", alt: "") %>
        </div>
        <h3>Keeps the entire provider team on the same page</h3>
        <p>Patients receive better coordination between their providers because the whole team has a full picture of their care.</p>
      </div>
    </div>
  </div>
</section>

<section class="site-block" id="about-the-pilot">
  <div class="ds-l-container">
    <div class="site-block-header">
      <h2 class="site-block-header__heading">About the pilot</h2>
      <div class="site-block-header__description">
        <p> Data at the Point of Care is a pilot API program that enables healthcare providers to deliver high quality care directly to Medicare beneficiaries by making a patient’s Medicare claims data available to the provider for treatment needs. The information can be accessed in the existing workflow and without logging into another application or portal. Claims information can be used to confirm information, fill in gaps in care, and improve patient safety.</p>
      </div>
    </div>
    <h3 class="ds-u-margin-top--5">Pilot data comes from inpatient, outpatient, and pharmacy claims,
including:</h3>
    <ul class="site-pills">
      <li class="site-pills__item">Diagnoses</li>
      <li class="site-pills__item site-pills__item--orange">Procedures</li>
      <li class="site-pills__item site-pills__item--green">Preventive tests</li>
      <li class="site-pills__item site-pills__item--dark-blue">Medications</li>
    </ul>

    <h3 class="ds-u-margin-top--5">Plus visit data for:</h3>
    <ul class="site-pills">
      <li class="site-pills__item site-pills__item--orange">Outpatient care</li>
      <li class="site-pills__item site-pills__item--dark-blue">Hospital admissions</li>
      <li class="site-pills__item site-pills__item--green">Emergency room care</li>
      <li class="site-pills__item">Urgent care</li>
    </ul>
  </div>
</section>

<section class="site-block site-block--alt" id="about-the-pilot">
  <div class="ds-l-container">
    <div class="site-block-header">
      <h2 class="site-block-header__heading">Getting started</h2>
    </div>
    <ol class="site-process-list">
      <li class="site-process-list__item">
        <h3 class="site-process-list__heading">Request access to the pilot</h3>
        <div class="site-process-list__body">
          <p>Do this on the <a href="#">Request Access Page</a>. Remember, this is a pilot and and the process may move slowly. You can prepare for connection by reviewing the <a href="#">API documentation</a>.</p>
        </div>
      </li>
      <li class="site-process-list__item">
        <h3 class="site-process-list__heading">You will be contacted</h3>
        <div class="site-process-list__body">
          <p>Based on the specification and sample data, build and test with synthetic data.</p>
        </div>
      </li>
      <li class="site-process-list__item">
        <h3 class="site-process-list__heading">Develop and test</h3>
        <div class="site-process-list__body">
          <p>When CMS is ready to provide access to the synthetic data for testing, they will email you with details.</p>
        </div>
      </li>
      <li class="site-process-list__item">
        <h3 class="site-process-list__heading">Provide a demo</h3>
        <div class="site-process-list__body">
          <p>The Data at the Point of Care team will review your implementation to determine whether you’re ready for production.</p>
        </div>
      </li>
      <li class="site-process-list__item">
        <h3 class="site-process-list__heading">Perform initial test and feedback cycle</h3>
        <div class="site-process-list__body">
          <p>Receive production credentials and test with production data. Continue providing feedback!</p>
        </div>
      </li>
    </ol>
  </div>
</section>

<section class="site-block">
  <div class="ds-l-container">
    <div class="site-block-header">
      <h2 class="site-block-header__heading">About the data</h2>
      <div class="site-block-header__description">
        <p>The claims data is provided using the industry-standard HL7 Fast Healthcare Interoperability Resources (FHIR) resources, specifically the Bulk FHIR specification.</p>
      </div>
    </div>
  </div>
</section>

<section class="billboard">
  <div class="ds-l-container">
    <div class="billboard__content">
      <h2 class="billboard__heading">Join the community!</h2>
      <div>
      <%= link_to docs_path, :class => "ds-c-button ds-c-button--primary ds-c-button--big" do %>
        <svg class="ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#code"></use>
        </svg>Documentation
      <% end %>
      <%= link_to docs_path, :class => "ds-c-button ds-c-button--inverse ds-c-button--inverse--alt ds-c-button--big" do %>
        <svg class="ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#code"></use>
        </svg>Documentation
      <% end %>
      </div>
    </div>
  </div>
</section>




